
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 0.8em; line-height: 1.4;background-color: lightblue; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

.container {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;	
}



.project > .title {
	margin-bottom: 0px;
   
}

.project > .meta {
	font-size: 0.8em;
}

.project > .meta > .date {
	float: right;

}

